/* tailwind.css or index.css */
/* src/index.css */
/* src/index.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @import "tailwindcss"; */

.glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(167, 220, 231, 0.5), 0 0 30px rgba(44, 54, 56, 0.4);
}
.name {
  font-family: "Monoton", 'Courier New', Courier, monospace;
  font-size: 20px;
}

/* in index.css */
.main-content {
  padding-top: 4rem; /* equal or slightly more than navbar height */
}




.bg-img {
  height: 100vh;
  position: relative;
  background: url("./assets/image1.png") no-repeat center/cover;
  background-color: #000;
  background-blend-mode: luminosity; /* makes image grayscale */
  color: white;
  text-align: center;
  padding: 100px 20px;
}
.hero-section {
  height: 150vh;
  position: relative;
  padding: 0 40px;
}




