




* {
  font-family: "Plaster", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}





footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 20px;

  background: #111;
  backdrop-filter: blur(6px);

  z-index: 9999;
}


footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 1px;

  background: rgba(255,255,255,0.2);
}











